div{
  display: block;
  margin-bottom: 15px;
  margin-right: 10px;
}

/* Navigation & Header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color:MediumAquamarine;
}

.nav {
  padding-right: 40px;
  display: block;
}

a {
  color:black;
  padding-right: 10px;
}

/* Main Content & Body */

.main-content {
  padding-top:90px;
  display:flex;
}

.content-left {
  flex-basis:630px;
  flex-grow: 1;
  flex-shrink: 1;
/* border: 1px solid black;*/
}

.content-middle {
  flex-basis:300px;
/* border: 1px solid black;*/
}

.content-right {
  flex-basis:240px;
/* border: 1px solid black;*/
}

.image-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.main-story .image-content {
  background-image: url(../images/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.content-left-stories {
  display: flex;
}

.small-story-image1.image-content{
  background-image: url(../images/img-story-2.png);
}

.small-story-image2.image-content {
  background-image: url(../images/img-story-3.png);
}

.small-story-image1.image-content{
  background-image: url(../images/img-story-2.png);
}

.small-story-image3.image-content {
  background-image: url(../images/img-story-1.png);
}
.cookie.image-content {
  background-image: url(../images/img-news-bite.png);
  height: 200px;
}

.content-right h3 {
  margin-bottom: 41px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.content-right .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia:cursive;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
footer nav {
  display: inline-block;
  padding-left: 25px;
}
